/* Glabal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: bold
}

html {
    scroll-behavior: smooth;
    font-family: 'Baloo', sans-serif;
}

body {
    font-family: 'Verdana';
    font-style: normal;
    background-color: azure;
    image-rendering: pixelated;
}

/*HEADER*/
.arriba_parte {
    background-color: #FE9292;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.arriba_parte img {
    width: 150px;
    height: 60px;
    left: 612.87px;
    top: 11.14px;
}

nav a {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0 40px;
}

.imgxd {
    margin: 0;
    padding: 0px;
}

.imgxd img {
    width: 41.58px;
    height: 37.33px;
    image-rendering: pixelated;
}

.inme {
    margin-left: 80px;
    padding: 1px;
}

.log {
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 4px 25px;
}

nav>a {
    font-family: 'Baloo', sans-serif;
    font-style: normal;
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: 25px;
    line-height: 39px;
}

nav>a:hover {
    text-decoration: underline;
}

/*Header*/

/*Main*/
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main img {
    width: 100%;
}

.login_parte {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.login_parte input {
    background: transparent;
    border: none;
    font-family: Verdana, sans-serif;
    font-size: 35px;
    color: #575757;
    margin: 20px;
    font-weight: normal;
}

.login_parte h1 {
    font-size: 50px;
    margin: 10px;
    margin-bottom: 50px;
}

.login_parte h2 {
    margin: 10px;
}

.login_parte p {
    font-size: 20px;
    margin: 10px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

.inicio {
    width: 600px;
    height: 600px;
    background-color: #8BD8D0;
    margin: 20px;
}

.registro input {
    background: transparent;
    border: none;
    font-family: Verdana, sans-serif;
    font-size: 30px;
    color: #575757;
    margin: 20px;
    font-weight: normal;
}

.registro {
    width: 600px;
    height: 600px;
    background-color: #8BD8D0;
    margin: 20px;
}

.logi {
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 0.5em 1.5em;
    font-family: Verdana, sans-serif;
    background-color: #FE9292;
    font-size: 30px;
    color: #000000;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
}

.logi:hover {
    background-color: rosybrown;
    cursor: pointer;
}

.acc {
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 0.5em 1.5em;
    font-family: Verdana, sans-serif;
    background-color: #FE9292;
    font-size: 30px;
    color: #000000;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
}

.acc:hover {
    background-color: rosybrown;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 25%;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 662px;
    height: 177px;
    background: #FEFEFE;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* The Close Button */
.ok_boton {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    border-radius: 16px;
    border-color: #aaaaaa;
    width: 100px;
    height: 50px;
}

.ok_boton:hover,
.ok_boton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Main*/

/*Footer*/

footer {
    background-color: #FE9292;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    font-size: 30px;
}

footer h1 {
    font-size: 25px;

}

footer img {
    width: 500px;
    height: 200px;
}

footer .redes_footer .imgxd {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Verdana';
    font-style: bold;
    background: #FE9292;
}

footer a {
    color: #000000;
}

.redes_footer {
    flex-direction: column;
}

.redes_footer a {
    flex-direction: row;
}

/*Footer*/