/* Glabal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-family: 'Baloo', sans-serif;
}

body {
    font-family: 'Baloo';
    font-style: normal;
    background: url(./Imagens/Fondo.png);
    background-repeat: repeat;
    background-size: cover;
    image-rendering: pixelated;
}

/*HEADER*/
.arriba_parte {
    background-color: #FE9292;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.arriba_parte img {
    width: 150px;
    height: 60px;
    left: 612.87px;
    top: 11.14px;
}

nav a {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0 40px;
}

.imgxd {
    margin: 0;
    padding: 0px;
}

.imgxd img {
    width: 41.58px;
    height: 37.33px;
    image-rendering: pixelated;
}

.inme {
    margin-left: 80px;
    padding: 1px;
}

.log {
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 4px 25px;
}

nav>a {
    font-family: 'Baloo', sans-serif;
    font-style: normal;
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: 25px;
    line-height: 39px;
}

nav>a:hover {
    text-decoration: underline;
}

.hola_gr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1188px;
    height: 250px;
    left: 100px;
    top: 150px;

    background: #FE9292;
    border-radius: 50px;
    image-rendering: pixelated;
}

h1.hola_gr {
    font-size: 50px;
}

.logo_arriba {
    margin-left: 0;
}

.logo_abajo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    align-self: center;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    background: #FE9292;
}

.logo_abajo h1 {
    font-size: 40px;
}

.logo_abajo img {
    width: 1043px;
    height: 450px;
    image-rendering: pixelated;
}

.logo_abajo a {
    font-family: 'Baloo', sans-serif;
    font-style: normal;
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: 25px;
    line-height: 39px;
    margin-top: 100px;
    margin-bottom: 200px;
}


/*Header*/

/*Main*/
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.menu_parte {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 30px;
}

.menu_parte nav a {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0 20px;
}

.menu_parte img {
    width: 200px;
    height: 250px;
    margin: 0px;

}

.descr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 10px;
    font-family: 'Verdana';
    font-style: bold;
    font-size: 35px;
    background: #FE9292;
}

/*Main*/

/*Footer*/

footer {
    background-color: #FE9292;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    font-size: 30px;
    position: relative;
}

footer h1 {
    font-size: 25px;
}

footer img {
    width: 500px;
    height: 200px;
}

footer .redes_footer .imgxd {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Verdana';
    font-style: bold;
    background: #FE9292;
}

footer a {
    color: #000000;
}
.redes_footer {
    flex-direction: column;
}

.redes_footer a {
    flex-direction: row;
}

/*Footer*/



/*Estilos del archivo html menu.html*/



.heladeria{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 280px;
    left: 0px;
}

.productotitle{
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    position: absolute;
    width: 220px;
    height: 76px;
    left: 22px;
    top: 370px;
}

.productotitle h1{
    background-color: #FE9292;
    padding: 4px;
}

.cont-productos{
    background-color: #8BD8D0;
    position: relative;
    width: 1450px;
    height: 900px;
    left: 34px;
    top: 80px;
 }


.helados-kfc h1{
    position: relative;
    background-color: #FE9292;
    width: 240px;
    padding: 0px, 12px;
    left: 15px;
    top: 18px;
    gap: 10px;
 }

 .helados-pinguino h1{
    position: relative;
    background-color: #FE9292;
    width: 340px;
    padding: 0px, 12px;
    left: 15px;
    top: 18px;
    gap: 10px;
 }


@media only screen and (max-width: 768px) {
    .productotitle {
      position: relative;
      width: 100%;
      height: auto;
      left: 0;
      top: 0;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .descr {
      font-size: 24px;
    }
  
    .cont-productos {
      top: auto;
      width: 100%;
      max-width: none;
      height: auto;
      padding: 20px;
    }
  
    .helados-kfc h1, .helados-pinguino h1 {
      max-width: none;
      width: 100%;
      text-align: center;
    }
}