/* Glabal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-family: 'Baloo', sans-serif;
}

body {
    font-family: 'Verdana';
    font-style: normal;
    background: url(./Imagens/Fondo.png);
    background-repeat: repeat;
    background-size: cover;
    image-rendering: pixelated;
}

/*HEADER*/
.arriba_parte {
    background-color: #FE9292;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.arriba_parte img {
    width: 150px;
    height: 60px;
    left: 612.87px;
    top: 11.14px;
}

nav a {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0 40px;
}

.imgxd {
    margin: 0;
    padding: 0px;
}

.imgxd img {
    width: 41.58px;
    height: 37.33px;
    image-rendering: pixelated;
}

.inme {
    margin-left: 80px;
    padding: 1px;
}

.log {
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 4px 25px;
}

nav>a {
    font-family: 'Baloo', sans-serif;
    font-style: normal;
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: 25px;
    line-height: 39px;
}

nav>a:hover {
    text-decoration: underline;
}

.hola_gr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1188px;
    height: 250px;
    left: 100px;
    top: 150px;

    background: #8BD8D0;
    border-radius: 50px;
    image-rendering: pixelated;
}

h1.hola_gr {
    font-size: 100px;
}

.logo_arriba {
    margin-left: 0;
}

.logo_abajo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    align-self: center;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    background: #FE9292;
}

.logo_abajo h1 {
    margin-top: 50px;
    font-size: 50px;
    justify-content: left;
  
}

.muno {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    align-self: center;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    background: #8BD8D0;
    
    
}
.muno h1{
    padding: 0px 52px;;
}
.mdos {
    display: flex;
    justify-content: left;
    align-items: center;
    align-self: center;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    background: #8BD8D0;
}
.mdos h1{
    margin-top: 20px;
    background: #FE9292;
}

/*Header*/

/*Main*/
main {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #8BD8D0;
    
}

.menu_parte {
    margin: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.menu_parte nav a {
    
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0 20px;
    left: 0px;
}

.menu_parte img {
    
    width: 200px;
    height: 250px;
    margin: 0px;
}

.descr {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 10px;
    font-family: 'Verdana';
    font-style: bold;
    font-size: 35px;
    background: #FE9292;
}
.descrip {
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 0px 12px;
    gap: 30px;
    font-family: 'Verdana';
    font-style: bold;
    font-size: 35px;
    background: #FE9292;
}

.description {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 120px;
    gap: 10px;
    font-family: 'Verdana';
    font-style: bold;
    font-size: 35px;
    background: #FE9292;
    margin-left: 70px;
}
.bt1{
    display: block;
    background-color: #FE9292;
    font-size: 35px;
    padding: 0px,12;
}
.fin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 40px;
    font-family: 'Verdana';
    font-style: bold;
    font-size: 35px;
    background: #fff;
    margin: 20px;
}


/*Main*/

/*Footer*/

footer {
    background-color: #FE9292;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    font-size: 30px;
}

footer h1 {
    font-size: 25px;
    
}

footer img {
    width: 500px;
    height: 200px;
}

footer .redes_footer .imgxd {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Verdana';
    font-style: bold;
    background: #FE9292;
}

footer a {
    color: #000000;
}
.redes_footer {
    flex-direction: column;
}

.redes_footer a {
    flex-direction: row;
}

/*Footer*/
